<form>
  <mat-card>
    <mat-card-content>
      <h2 class="teams-header">Select your Final Four teams!</h2>
      <section>
        <mat-checkbox *ngFor="let team of teams" 
          class="team-checkbox" 
          (change)="toggleSelection(team, $event)"
          [disabled]="selectionIsFull() && !teamIsSelected(team)">{{team.name}}
        </mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="email-input">
          <input matInput placeholder="Email" type="text" [formControl]="email">
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <button mat-flat-button color="accent" (click)="submit()">Submit</button>
    </mat-card-content>
  </mat-card>
</form>